html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    title= title
  body
    .container
      .row
        .col-md-12
          h1 Edit Intent
      br
      .row
        .col-md-12
          form.form(action="/editIntent" method="POST")
            .form-group
              label(for="name") Name:
              input#name.form-control(type='text', name='name', aria-describedby='nameHelp', placeholder='Intent name', value=intent.name)
              br
              label(for="responseTxt") Response Text:
              input#responseTxt.form-control(type='text', name='responseTxt', aria-describedby='responseHelp', placeholder='Enter response text', value=intent.responseTxt)
              br
              input#id(type='hidden', name='id', value=intent._id)
              button.btn.btn-primary(type='submit') Save Intent
              a(href="/" style="margin-left: 15px")
                | Cancel

    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
